.ProfileCard-Yizhou {
    // font-family: 'Kaushan Script', cursive;
    display: flex;
    width: 95%;
    height: 200px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black;
}

.upper-image-container-Yizhou{
    display: flex;
    justify-content: center;
    height: 100%;
}
.upper-container-img {
    height: 100%;
    border-top-right-radius:15px;
    border-top-left-radius: 15px;
    width:100%;
}

@media screen and (max-width: 1130px) {
    .lower-container-Yizhou h2,
    h4,
    p {
        margin: 0;
        padding: 0;
    }

    .lower-container-Yizhou h2 {
        font-weight: 600;
        font-size: 20px;
    }

    .lower-container-Yizhou h4 {
        font-weight: 600;
        font-size: 16px;
    }

    .star-rating-Yizhou {
        font-weight: 600;
        font-size: 16px;
    }
}
// @media screen and (max-width: 910px) {
.ProfileCard-Yizhou {
    // font-family: 'Kaushan Script', cursive;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 480px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black;
    transform: scale(0.98, 0.98);
}

.upper-container-Yizhou {
    width: 100%;
    height: 200px;
    border-top-right-radius:15px;
    border-top-left-radius: 15px;
    background: linear-gradient(to left, #f76c01, #000000);
}

.image-container-Yizhou {
    display: flex;
    justify-content: center;
}

.image-container-img-Yizhou {
    background: white;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(0%, -80%);
    border: 2px solid rgb(0, 0, 0);
}

.lower-container-Yizhou {
    margin-left: 0%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    width: 100%;
    height: 300px;
    background: white;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

.lower-container-Yizhou h2,
h4,
p {
    margin: 0;
    margin-left: 25px;
    padding: 0;
}

.lower-container-Yizhou h2 {
    color: black;
    font-weight: 600;
    font-size: 20px;
}

.lower-container-Yizhou h4 {
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.star-rating-Yizhou {
    font-weight: 600;
    font-size: 18px;
}

.star-rating-Yizhou {
    //color: purple;
    font-weight: 600;
    font-size: 20px;
}

.starOn-Yizhou {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: orange;
}

.starOff-Yizhou {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ccc;
}

.profilecard-buttons-Yizhou {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.profileButton-Yizhou {
    align-items: center;
    margin-left: 25%;
    // margin-top: 35px;
    width: 50%;
    height: 60%;
    color: rgb(252, 186, 3);
    font: bold;
    font-weight: 800;
    background-color: white;
    // border: 2px solid purple;
    padding: 0.4rem;
    border-radius: 6px;
    transition-duration: 0.5s;
    animation: ease-in-out;
}

.profileButton-Yizhou:hover {
    background: linear-gradient(to left, gold, rgb(255, 185, 111));
    transform: scale(1.2);
    border: none;
    color: black;
}

// .favouriteButton-Yizhou {
//     width: 50%;
//     height: 40%;
//     margin-left: 25%;
//     color: rgb(252, 186, 3);
//     font: bold;
//     font-weight: 800;
//     background-color: white;
//     border: 2px solid black;
//     padding: 0.4rem;
//     border-radius: 6px;
//     transition-duration: 0.5s;
//     animation: ease-in-out;
// }

// .favouriteButton-Yizhou:hover {
//     background: linear-gradient(to left, rgb(65, 62, 62), rgb(65, 62, 62));
//     transform: scale(1.2);
//     border: none;
//     color: white;
// }
// }
