.upper-image-container-Yizhou{
    display: flex;
    justify-content: center;
    height: 100%;
}
.upper-container-img {
    height: 100%;
    border-top-right-radius:15px;
    border-top-left-radius: 15px;
    width:100%;
}

@media screen and (max-width: 1130px) {
    .lower-container-Yizhou h2,
    h4,
    p {
        margin: 0;
        padding: 0;
    }

    .lower-container-Yizhou h2 {
        font-weight: 600;
        font-size: 20px;
    }

    .lower-container-Yizhou h4 {
        font-weight: 600;
        font-size: 16px;
    }

    .star-rating-Yizhou {
        font-weight: 600;
        font-size: 16px;
    }
}
.ProfileCard-Yizhou {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 550px;
    background: white;
    border-radius: 10px;
    border-top-right-radius:15px;
    border-top-left-radius: 15px;
    box-shadow: 2px 2px 10px 1px black;
    transform: scale(0.98, 0.98);
}

.upper-container-Yizhou {
    width: 100%;
    height: 200px;
    border-top-right-radius:15px;
    border-top-left-radius: 15px;
    //background: linear-gradient(to left, #f76c01, #000000);
}

.image-container-Yizhou {
    display: flex;
    justify-content: center;
}

.image-container-img-Yizhou {
    background: rgb(222, 228, 252);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(0%, -80%);
    border: 2px solid rgb(0, 0, 0);
}

.lower-container-Yizhou {
    //margin-left: 0%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    //padding-top: 30px;
    width: 100%;
    height: 100%;
    background: white;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

.lower-container-Yizhou p {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    margin-left: 25px;
    margin-top: 4px;
    padding: 0;
    height: 80px;
}

.lower-container-Yizhou h2 {
    color: black;
    margin-left: 0px;
    font-weight: 600;
    font-size: 20px;
}

.lower-container-Yizhou h4 {
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.star-rating-Yizhou {
    //color: purple;
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 20px;
}

.starOn-Yizhou {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: orange;
}

.starOff-Yizhou {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ccc;
}

.profilecard-buttons-Yizhou {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.profileButton-Yizhou {
    align-items: center;
    margin-left: 30%;
    // margin-top: 35px;
    width: 40%;
    height: 60%;
    color: rgb(122,160,254);
    font: bold;
    font-weight: 800;
    background-color: white;
    border: 2px solid grey;
    padding: 0.4rem;
    border-radius: 30px;
    transition-duration: 0.5s;
    animation: ease-in-out;

    box-shadow:  5px 5px 5px  rgb(208,217,253);
}

.profileButton-Yizhou:hover {
    background: linear-gradient(to right, rgb(122,202,251), rgb(130,115,250));
    transform: scale(1.2);
    border: none;
    color: white;
}
