
.one {
    font-family: 'Montserrat Alternates', sans-serif;
}
.two {
    font-family: 'Helvetica Neue', sans-serif;
}
.three {
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Pacifico', cursive;
}