@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import '../../App.scss';

.ReviewProfile {
    background-color: #ffffff;
    padding-top: 50px;
    padding-right: 10px;
    min-height: 928px;
    // border-bottom: 12px solid $black-background;
}

.d-flex a {
    text-decoration: none;
    color: #686868;
}

.review-profile-info {
    padding-top: 10px;
}

.row-left {
    margin-left: 20px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
}

.row-right {
    padding-right: 20px;
}
