@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import '../../App.scss';

.ReviewProfile {
    background-color: #ffffff;
    margin: 30px 40px;
    padding: 25px 15px;
    padding-top: 35px;
    // min-height: 928px;
    // border: 1px solid $black-background;
    border-radius: 5px;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.3)
      );
    padding: 1.5rem;
    box-shadow: 0 0 5px rgba(234, 225, 225, 0.5), 0 0 25px rgba(0, 0, 0, 0.08);
}

.FollowActionButton {
    gap: 15px;
}

.FollowActionButton a {
    text-decoration: none;
    color: #686868;
}

.review-profile-info {
    padding-top: 10px;
}

.review-profile-info-res {
    padding-top: 10px;
    padding-right: 14px;
    text-align: right;
}

.review-profile-row-left {
    margin-left: 20px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
    min-width: 254px;
}

.review-profile-row-right {
    // margin-top: 40px;
    padding-left: 50px;
    padding-right: 20px;
}
