@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@import '../../App.scss';

.ReviewProfile {
    background-color: #ffffff;
    margin: 0px 340px;
    padding: 35px 15px;
    border-radius: 5px;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.3)
    );
    padding: 1.5rem;
    display: flex;
    justify-content: center;

    padding-left: 50px;
    padding-right: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

.FollowActionButton {
    gap: 15px;
}

.FollowActionButton a {
    text-decoration: none;
    color: #686868;
}

.review-profile-info {
    padding-top: 10px;
}

.review-profile-info-res {
    padding-top: 10px;
    padding-right: 14px;
    text-align: right;
}

.review-profile-row {
    padding-left: 50px;
    padding-right: 20px;
}

.review-info-section {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.3)
    );
    min-width: 573px;
}

.review-info-section-title {
    padding-left: 0px;
    margin-bottom: 5px;
}

.review-info-section-title-0 {
    background-color: #ffe599;
    height: 80%;
    width: 10px;
    margin-top: 3px;
    margin-right: 6px;
}

.review-info-section-title-1 {
    font-size: 32px;
    font-weight: 1000;
    color: #f4ca59;
}

.review-info-section-title-2 {
    font-size: 22px;
    font-weight: 900;
    padding-top: 10px;
}

.line-breaker-1 {
    padding-top: 20px;
}

.line-breaker-1 {
    border-bottom: 2px solid #EEEEEE;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.review-profile-ai-icon {
    margin-right: 10px;
}

.rating-number {
    margin-left: 5px;
    margin-top: 2px;
}