.ReviewForm {
    font-family: 'Helvetica Neue', sans-serif;
}

.submit-review-button {
    color: #fff;
    border: 0;
    border-radius: 8px;
    color: #fff;
    width: 100px;
    height: 40px;
    cursor: pointer;
  }
  
.submit-review-button {
    background-color: #202142;
}
  
.submit-review-button {
    background: #73b9a6c0;
}
  
.submit-review-button:hover {
    transform: scale(0.98);
    opacity: 0.9;
}
  
.submit-review-button:disabled {
    background-color: #cccccc;
    color: #333;
    cursor: auto;
}
  
.submit-review-button:disabled:hover {
    transform: scale(1);
    opacity: 1;
}

.review-form-question {
    text-align: center;
}

.input-group {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    border: 1px solid #73b9a6c0;
    padding: 8px 10px;
    border-radius: 8px;
}
  
input {
    flex-grow: 2;
    border: none;
    font-size: 16px;
}
  
input:focus {
    outline: none;
}

@media (max-width: 600px) {
    .rating li {
      margin: 10px 3px;
    }
  
    .rating {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 30px 0 40px;
    }
  
    .input-group input {
      width: 80%;
    }
}

.submit-review-button-text {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 1px;
    margin-left: 7px;
    margin-right: 7px;
}