.slider-heading-text {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

.slider-section {
  width: 90vw;
  margin: 5rem auto;
  max-width: 1270px;
}

@media screen and (min-width: 992px) {
  .slider-section {
    width: 95vw;
  }
}

/* .icon {
  font-size: 3rem;
  color: hsl(21, 62%, 45%);
} */

.section-center {
  margin: 0 auto;
  margin-top: 4rem;
  width: 80vw;
  height: 430px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s linear;
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

.person-slider-img {
  border-radius: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid hsl(210, 31%, 80%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

article h4 {
  text-transform: uppercase;
  color: hsl(21, 62%, 45%);
  margin-bottom: 0.25rem;
}

.slider-title {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: hsl(209, 34%, 30%);
}

.slider-title {
  text-align: center;
  margin-bottom: 2rem;
}

.slider-title h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.slider-text {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  color: hsl(210, 22%, 49%);
}

.slider-prev,
.slider-next {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  color: hsl(210, 22%, 49%);
  background: #fff;
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.5s linear;
}
.slider-prev:hover,
.slider-next:hover {
  background: #f4ca59;
}
.slider-prev {
  left: 0;
}
.slider-next {
  right: 0;
}
@media (min-width: 800px) {
  .slider-text {
    max-width: 45em;
  }
  .slider-prev,
  .slider-next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
}
