.ProfileCard-Yizhou {
    // font-family: 'Kaushan Script', cursive;
    display: flex;
    width: 95%;
    height: 200px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black;
}

.upper-container-Yizhou {
    height: 100%;
    width: 100px;
    background: linear-gradient(to left, #2d00f7, #ff0291);
}

.image-container-Yizhou {
    display: flex;
    justify-content: center;
}

.image-container-img-Yizhou {
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(40%, 40%);
    border: 2px solid purple;
}

.lower-container-Yizhou {
    padding-top: 30px;
    margin-left: 10%;
    width: 80%;
    height: 200px;
    background: white;
    text-align: left;
    font-family: 'Titillium Web', sans-serif;
}

.lower-container-Yizhou h2,
h4,
p {
    margin: 0;
    padding: 0;
}

.lower-container-Yizhou h2 {
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
}

.lower-container-Yizhou h4 {
    color: purple;
    font-weight: 600;
    font-size: 20px;
}

.profilecard-buttons-Yizhou {
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: center;
}

.star-rating-Yizhou {
    color: purple;
    font-weight: 600;
    font-size: 20px;
}

.starOn-Yizhou {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: orange;
}

.starOff-Yizhou {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ccc;
}

.profileButton-Yizhou {
    width: 90%;
    height: 20%;
    color: black;
    font: bold;
    background-color: white;
    border: 2px solid purple;
    padding: 0.4rem;
    border-radius: 6px;
    transition-duration: 0.5s;
    animation: ease-in-out;
}

.profileButton-Yizhou:hover {
    background: linear-gradient(to left, #2d00f7, #ff0291);
    transform: scale(1.2);
    border: none;
    color: white;
}

.favouriteButton-Yizhou {
    width: 90%;
    height: 20%;
    color: black;
    font: bold;
    background-color: white;
    border: 2px solid purple;
    padding: 0.4rem;
    border-radius: 6px;
    transition-duration: 0.5s;
    animation: ease-in-out;
}

.favouriteButton-Yizhou:hover {
    background: linear-gradient(to left, #2d00f7, #ff0291);
    transform: scale(1.2);
    border: none;
    color: white;
}
@media screen and (max-width: 1130px) {
    .lower-container-Yizhou h2,
    h4,
    p {
        margin: 0;
        padding: 0;
    }

    .lower-container-Yizhou h2 {
        font-weight: 600;
        font-size: 20px;
    }

    .lower-container-Yizhou h4 {
        font-weight: 600;
        font-size: 16px;
    }

    .star-rating-Yizhou {
        font-weight: 600;
        font-size: 16px;
    }
}
// @media screen and (max-width: 910px) {
.ProfileCard-Yizhou {
    // font-family: 'Kaushan Script', cursive;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 480px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black;
    transform: scale(0.98, 0.98);
}

.upper-container-Yizhou {
    width: 100%;
    height: 100px;
}

.image-container-Yizhou {
    display: flex;
    justify-content: center;
}

.image-container-img-Yizhou {
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(0%, 50%);
}

.lower-container-Yizhou {
    margin-left: 0%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    width: 100%;
    height: 300px;
    background: white;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

.lower-container-Yizhou h2,
h4,
p {
    margin: 0;
    padding: 0;
}

.lower-container-Yizhou h2 {
    color: black;
    font-weight: 600;
    font-size: 20px;
}

.lower-container-Yizhou h4 {
    font-weight: 600;
    font-size: 18px;
}

.star-rating-Yizhou {
    font-weight: 600;
    font-size: 18px;
}

.profilecard-buttons-Yizhou {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

.profileButton-Yizhou {
    align-items: center;
    margin-left: 25%;
    width: 50%;
    height: 40%;
    color: black;
    font: bold;
    background-color: white;
    padding: 0.4rem;
    border-radius: 6px;
    transition-duration: 0.5s;
    animation: ease-in-out;
}

.profileButton-Yizhou:hover {
    align-items: center;
    transform: scale(1.2);
    border: none;
    color: white;
}

.favouriteButton-Yizhou {
    width: 50%;
    height: 40%;
    margin-left: 25%;
    color: black;
    font: bold;
    background-color: white;
    padding: 0.4rem;
    border-radius: 6px;
    transition-duration: 0.5s;
    animation: ease-in-out;
}

.favouriteButton-Yizhou:hover {
    transform: scale(1.2);
    border: none;
    color: white;
}
// }
