.profile-area{
    padding: 80px 0;
}
.card{
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    overflow:hidden;
    border-radius: 15px;
}
.img1 img{
    height: 200px;
    border-top-right-radius:15px;
    border-top-left-radius: 15px;
    width:100%;
}
.img2 img{
    position:relative;
    display:block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width:140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-top: 80px;
}