.FilterList {
    // font-family: 'La Belle Aurore';
    display:flex;
    width:55%;
    height:100vh;
    justify-content: right;
    flex-direction: column;
    margin-left: 30%;
    float: right;
    border: 2px solid green;
    // align-items: center;
}