.FilterList {
    // font-family: 'La Belle Aurore';
    display:flex;
    width:55%;
    height:100vh;
    justify-content: right;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 1130px) {
    .FilterList {
        // font-family: 'La Belle Aurore';
        display:flex;
        width:60%;
        height:165vh;
        justify-content: right;
        flex-direction: column;
        align-items: center;
    }
}