.wrapper_instructions {
    display: flex;
    height: 50vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.section_title_two {
    font-family: 'Lato', sans-serif;
    text-align: left;
    justify-content: space-between;
    font-size: 40px;
    font-weight: 600;
    margin-top: 37px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 700px;
}

.accordion_instructions {
    width: 500px;
}

.item_instructions {
    background: #00000018;
    // background: #f0ebe1;
    margin-bottom: 5px;
    padding: 20px 30px;
}

.title_instructions {
    color: #cb9b49;
    // color: #85662b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.title_text_instructions {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.content_instructions {
    color: #8b7f75;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5 cubic-bezier(0, 1, 0, 1);
}

.content_instructions.show {
    margin-top: 15px;
    height: auto;
    max-height: 9999px;
    transition: all 0.5 cubic-bezier(1, 0, 1, 0);
}
