.wrapper_instructions {
    display: flex;
    height: 50vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.section_title_two {
    font-family: 'Lato', sans-serif;
    text-align: left;
    justify-content: space-between;
    font-size: 40px;
    font-weight: 600;
    margin-top: 37px;
    margin-right: 70px;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 600px;
}

.section_title_divider_experience {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
    .solid {
        width: 450px;
        height:  0.3rem;
        margin: 1rem 0;
        border: 3px solid #FFB000;
        background-color: #FFB000;
    }
}

.accordion_instructions {
    width: 500px;
}

.item_instructions {
    background: #00000018;
    margin-bottom: 5px;
    padding: 20px 30px;
}

.title_instructions {
    // color: #cb9b49;
    color: #cba055;
    // color: #85662b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.title_text_instructions {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.content_instructions {
    color: #8b7f75;
    max-height: 0px;
    overflow: hidden;
    transition: all 1s cubic-bezier(0, 1, 0, 1);
}

.content_instructions.show {
    margin-top: 15px;
    height: auto;
    max-height: 9999px;
    transition: all 1s cubic-bezier(1, 0, 1, 0);
}
