.contact-section_contactcomponent {
  padding: 5rem 10em;
  padding-bottom: 0;
}

.section-title-divider {
  width: 150px;
  margin: 1rem 0;
  border: 3px solid #FFB000;
}

.wrapper_contactcomponent {
  width: 100%;
  -webkit-box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
  border-radius: 20px;
  background-color: #fff;
}

.contact-wrap_contactcomponent {
  border-radius: 0 20px 20px 0;
            // top-left top-right bottom-right bottom-left. 
  padding-top: 30px;
  color: #000;
  background-color: #ffd800;;
  // background: #f4ca59;
  // background: -moz-linear-gradient(
  //   -45deg,
  //   #f4ca59 0%,
  //   #ff8fee 100%
  // );
  // background: -webkit-gradient(
  //   left top,
  //   right bottom,
  //   color-stop(0%, #f4ca59),
  //   color-stop(100%,#ff8fee)
  // );
  // background: -webkit-linear-gradient(
  //   -45deg,
  //   #f4ca59 0%,
  //   #ff8fee 100%
  // );
  // background: -o-linear-gradient(
  //   -45deg,
  //   #f4ca59 0%,
  //   #ff8fee 100%
  // );
  // background: -ms-linear-gradient(
  //   -45deg,
  //   #f4ca59 0%,
  //   #ff8fee 100%
  // );
  // background: linear-gradient(
  //   135deg,
  //   #ff8fee 0%,
  //   #f4ca59 100%
  // );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4ca59', endColorstr='#2e279d', GradientType=1 );
  .title_contactcomponent  {
    // color: #fff;
    color: #000;
    font-size: 34px;
    font-weight: 600;
    margin-top: 30px;
  }
}

.title_contactcomponent {
  // color: white;
    color: #000;
  font-size: 34px;
  font-weight: 600;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.form-control_contactcomponent {
  height: 62px;
  background: transparent;
  // color: rgba(255, 255, 255, 0.8) !important;
  color: #000 !important;
  font-size: 18px;
  border-radius: 0px;
  box-shadow: none !important;
  border: 1px solid rgba(255, 255, 255, 0.2);
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgb(107, 107, 107) !important;
    // color: #000 !important;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.5) !important;
    // color: #000 !important;
  }
  &:-ms-input-placeholder {
    /* IE 0+ */
    color: rgba(255, 255, 255, 0.5) !important;
    // color: #000 !important;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.5) !important;
    // color: #000 !important;
  }
  &:focus,
  &:active {
    background: transparent;
    border-color: rgba(255, 255, 255, 0.5) !important;
    // color: #000 !important;
    outline: none !important;
    box-shadow: none;
  }
}

textarea.form-control_contactcomponent {
  height: inherit !important;
  margin-top: 5px;
  color: #000;
}

.contactForm_contactcomponent {
  .form-control_contactcomponent {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0;
  }
}

.btn_contactcomponent {
  padding: 10px 18px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  position: relative;
  margin-top: 20px;
}

.btn-primary_contactcomponent {
  background: #d62196 !important;
  border-color: #d62196 !important;
  font-weight: 600;
  color: #fff;
}

.btn-primary_contactcomponent:hover {
  opacity: 0.8;
  font-weight: 800;
  color: #fff;
}

.info-wrap_contactcomponent {
  .title_contactcomponent {
    color: #000;
    position: relative;
    padding-top: 30px;
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 60px;
      height: 3px;
      background: #d62196;
      content: "";
    }
  }
  .dbox_contactcomponent {
    width: 100%;
    // color: rgba(255,255,255,.8);
    margin-bottom: 15px;
    &:last-child() {
      margin-bottom: 0;
    }
    p {
      margin-left: 5px;
      margin-bottom: 0;
      span {
        font-weight: 400;
        font-size: 18px;
        color: #000;
      }
      a {
        color: rgba(0, 0, 0, 0.3);
        margin-left: 5px;
        font-size: 17px;
      }
    }
    .icon_contactcomponent {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.05);
      span {
        font-size: 20px;
        color: #000;
      }
    }
    .text_contactcomponent {
      width: calc(100% - 70px);
    }

    a {
      transition: 0.3s all ease;
      color: #d62196;
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: none !important;
        outline: none !important;
        box-shadow: none;
      }
    }
  }
}

#contactForm_contactcomponent {
  .form-control_contactcomponent {
    font-size: 18px;
  }
}

.openforsuggestions {
  margin-top: 20px;
  font-size: 16px;
  color:#767676;
}

.form-group-btn_contactcomponent {
  display: flex;
  justify-content: center;
}

.container_contactcomponent {
  padding-bottom: 10rem;
}