@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.ReviewProfile {
    background-color: #fffa9745;
    padding-top: 50px;
    padding-right: 10px;
}

.d-flex a {
    text-decoration: none;
    color: #686868;
}

.review-profile-info {
    padding-top: 10px;
}

.row-left {
    padding-left: 20px;
}

.row-right {
    padding-right: 20px;
}