.FilterList {
    // font-family: 'La Belle Aurore';
    display: flex;
    width: 55%;
    height: 80%;
    justify-content: right;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1130px) {
    .FilterList {
        // font-family: 'La Belle Aurore';
        display: flex;
        width: 60%;
        height: 80%;
        justify-content: right;
        flex-direction: column;
        align-items: center;
    }
}
