.ProfileInstructor {
    margin-top: 80px;
    margin-left: 30px;
}

.sideAndInfo {
    margin-top: 80px;
    margin-left: 30px;
    display: flex;
    // justify-content: space-around;
}

.sideAndInfo2 {
    margin-top: -80px;
    margin-left: 30px;
    display: flex;
}

.ProfileInstructor__information{
    display: absolute;
    margin-top: -50px;
    margin-left: 50px;
    // position: absolute;
}

.InstSideMenuSingle {
    margin-top: 50px;
    display: flex;
}

.InstSideMenuProps {
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
}

.ProfileInstructor__Reviews{
    display: absolute;
}
