.RateDisplay {
    display: flex;
    font-family: 'Varela Round', sans-serif;
    justify-content: center;
}

.RateDisplay-left {
    color: #000000;
    align-items: left;

    padding-top: 20px;
    position: relative;
    padding-bottom: 30px;
    width: 350px;
}  

.ratedisplay-title {
    font-size: 34px;
    font-weight: 500;
}

.ratedisplay-average {
    font-size: 34px;
    height: 50px;
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    font-weight: 600;
    width: 250px;
}

.rdcard-bottom-space {
    height: 30px;
}

.RateDisplay-right {
    margin-top: 40px;
}


/* responsive css style  */
@media (max-width: 998px) {
    .RateDisplay {
        justify-content: center;
        display: grid;
    }
    
    .RateDisplay-left {
        padding: 20px 50px;
        padding-left: 60px;
        margin: 25px 0;
        position: relative;
        max-width: 850px;
        min-width: 350px;
        min-height: 80px;
        margin-top: 100px;
        width: 80%;
        margin: auto;
    }  
    
    .rdcard-bottom-space {
        height: 0px;
    }
    
    .RateDisplay-right {
        margin-top: 0px;
        margin-bottom: 40px;
        padding-left: 30px;
    }
}