@import '../../../App.scss';

.rfcard {
    background-color: #f7eae5;
    // box-shadow: 0 0 5px 5px rgb(177, 219, 203);
    box-shadow: 0 0 5px 5px $primary-color;
    color: #000;
    border-radius: 15px;
    padding: 20px 50px;
    margin: 20px 0;
    position: relative;
    max-width: 950px;
    min-width: 350px;
    max-height: 300px;
    min-height: 170px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    margin: auto;
}

.rfcard-bottom-space {
    height: 30px;
}