.rfcard {
    background-color: #f1fffc;
    box-shadow: 0 0 5px 5px rgb(177, 219, 203);
    color: #f1fffc;
    border-radius: 15px;
    padding: 20px 50px;
    margin: 20px 0;
    position: relative;
    max-width: 1050px;
    min-width: 450px;
    min-height: 170px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    margin: auto;

}
