.SignUpInstructor {
    margin-top: 60px;
    margin-bottom: 95px;
    min-height: 560px;
}

.SignUpStudent {
    margin-top: 60px;
    margin-bottom: 95px;
    min-height: 560px;
}

.SignUpRedirect {
    font-size: 17px;
    text-align: center;
    width:auto;
    margin:0 auto
}

.SignInRedirectLink {
    margin-top: 15px;
    display:inline-block;
    margin-right: 460px;
}

.SignUpRedirectLink {
    margin-top: 15px;
    display:inline-block;
    margin-left: 460px;
}

.SignUpTitle {
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
}

/* responsive css style  */
@media (max-width: 1280px) {
    .SignInRedirectLink {
        margin-right: 360px;
    }
    
    .SignUpRedirectLink {
        margin-left: 360px;
    }
}

/* responsive css style  */
@media (max-width: 1090px) {
    .SignInRedirectLink {
        margin-right: 260px;
    }
    
    .SignUpRedirectLink {
        margin-left: 260px;
    }
}

/* responsive css style  */
@media (max-width: 894px) {

    .SignInRedirect {
        display:flex;
        align-items: center;
    }
    .SignInRedirectLink {
        margin-right: auto;
        width: 100%;
    }
    
    .SignUpRedirectLink {
        margin-left: auto;
        width: 100%;
    }
    
}
