@import '../../App.scss';

.main-footer {
    color: white;
    background-color: $black-background;
    padding-top: 2em;
    padding-bottom: 1em;
    // padding-left: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}

.row-footer {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.col-footer {
    flex: 1 0;
    padding-left: 1em;
}

.container-footer {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

.footer-heading-4 {
    font-size: 20px;
    padding-bottom: 10px;
}

.list-unstyled-footer {
    padding-left: 0;
    list-style: none;
    font-size: 14px;
    font-weight: 300;
}

.col-sm-footer {
    flex: 1 0;
    padding-left: 1em;
}
