@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Kaushan+Script&family=Montserrat+Alternates:wght@500&family=Pacifico&family=Varela+Round&display=swap');
@import '../../App.scss';

// html {
//   font-size: 62.5%;
// }

.hamburger-menu-icon {
  text-decoration: none;
}

.navbar-list-itm {
  list-style: none;
  text-decoration: none;
}

/* 
 
/* navbar style start  */

.navbar-main-nav {
  width: 100%;
  height: 5rem;
  display: grid;
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
  box-shadow: #e48417 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 20px 40px -20px;
  background-color: #f8e5cf;
}

.navbar-logo {
  display: grid;
  /* background-color: #3b5998; */
  grid-column: 1/3;
  margin-left: 3rem;
  justify-content: start;
  align-items: center;
}

.menu-link {
    grid-column: 3/5;
    font-family: 'Kalam', cursive;
    font-size: 2.5rem;
    // font-family: 'Kaushan Script', cursive;
}

.menu-link ul {
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-media {
  grid-column: 4/5;
}

.social-media ul {
  height: 5rem;
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  align-items: center;
  justify-content: flex-end;
}

.social-media ul li {
  text-align: right;
}

.social-media ul li:first-child {
  grid-column: 2/3;
}

/* ----------- Grid part ends ----------------- */

.navbar-logo h2 {
  font-size: 2rem;
  font-weight: 760;
  font-family: 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#eee, rgb(173, 32, 7));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-logo h2 span {
  font-size: 3rem;
}

.menu-link ul li {
  font-size: 1.5rem;
}

.menu-link ul li a {
  text-transform: capitalize;
  color: rgba(0, 0, 3, 0.8);
  transition: 0.5s;
}
.menu-link ul li:hover > a {
  transform-origin: left;
  color: rgba(0, 0, 3, 1);
  text-decoration: underline;
  transition: 0.5s;
}

.social-media ul li {
  font-size: 1.5rem;
}

.social-media .hamburger-menu {
  display: none;
}

/* responsive css style  */
@media (max-width: 1080px) {
  .navbar-main-nav {
    height: 5rem;
    grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
  }

  .navbar-logo,
  .menu-link ul,
  .social-media ul {
    height: 5rem;
  }
}

/* responsive css style  */
@media (max-width: 998px) {
  .navbar-main-nav {
    height: 5rem;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
  }

  .menu-link {
    display: none;
  }

  .navbar-logo,
  .social-media ul {
    height: 5rem;
  }

  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .mobile-menu-link {
    background-color: white;
    height: 5rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .mobile-menu-link ul {
    height: 5rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }

  .social-media {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    transition: all 2s linear;
  }

  .social-media .social-media-desktop {
    height: 0;
    display: none;
  }

  .social-media {
    height: 5rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 798px) {
  .navbar-main-nav {
    height: 5rem;
    grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
  }

  .navbar-logo,
  .social-media ul {
    height: 5rem;
  }

  .social-media {
    height: 5rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 520px) {
  .navbar-main-nav {
    height: 5rem;
    grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
  }

  .navbar-logo,
  .social-media ul {
    height: 5rem;
  }

  .navbar-logo h2 {
    font-size: 2rem;
  }

  .social-media {
    height: 4rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}

