@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import '../../App.scss';

.RateDisplay {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.3)
    );
    padding: 1.5rem;
    box-shadow: 0 0 5px rgba(234, 225, 225, 0.5), 0 0 25px rgba(0, 0, 0, 0.08);
    min-width: 573px;
}

.RateDisplay-left {
    color: #000000;
    // align-items: left;
    justify-content: center;

    padding-top: 20px;
    position: relative;
    padding-bottom: 30px;
    width: 350px;
}

.ratedisplay-title {
    font-size: 34px;
    font-weight: 500;
}

.ratedisplay-average {
    font-size: 34px;
    height: 50px;
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    font-weight: 600;
    width: 250px;
}

.rdcard-bottom-space {
    height: 30px;
}

.RateDisplay-right {
    // margin-top: 40px;
}

/* responsive css style  */
@media (max-width: 1260px) {
    .RateDisplay {
        justify-content: center;
        display: grid;
    }

    .RateDisplay-left {
        padding: 20px 50px;
        padding-left: 60px;
        margin: 25px 0;
        position: relative;
        max-width: 850px;
        min-width: 350px;
        min-height: 80px;
        margin-top: 100px;
        width: 80%;
        margin: auto;
    }

    .rdcard-bottom-space {
        height: 0px;
    }

    .RateDisplay-right {
        margin-top: 0px;
        margin-bottom: 40px;
        padding-left: 30px;
    }
}
