.rcard {
    background-color: #f1fffc;
    // box-shadow: 0 0 5px 5px rgb(177, 219, 203);
    border: 2px solid rgb(177, 219, 203);
    color: #f1fffc;
    border-radius: 15px;
    padding: 20px 50px;
    margin: 20px 0;
    position: relative;
    max-width: 950px;
    min-width: 350px;
    min-height: 140px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    margin: auto;

    transition: all .4s ease;
    border-radius: 3px 3px 3px 3px;   
}

.rcard:hover {
    border: 3px solid rgb(177, 219, 203);
    box-shadow: 8px 8px rgb(177, 219, 203);
    border-radius: 3px 3px 3px 3px;
}

.rcard-bottom-space {
    min-height: 40px;
}
