.filterSearchBar {
    width: 100%;
}
.filterSearchBar-form {
    width: 100%;
    display: flex;
    justify-content: center;
}
.filterSearchBar-div {
    width: 500px;
}
.InstructorName {
    width: 50%;
}
