@import '../../App.scss';

.main-footer {
    color: white;
    background-color: $black-background;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-heading-4 {
    font-size: 20px;
}

.list-unstyled {
    font-size: 14px;
    font-weight: 300;
}
