@import "../../App.scss";


.FilterPanel {
    // font-family: 'Kalam', cursive;
    font-family: 'Roboto', sans-serif;
    min-width: 250px;

    color: $secondary-color;

    padding: 1rem 1.5rem;

    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;

    border: 2px solid black;

    .top {
        display: flex;
        justify-content: space-between;
        color: $primary-color
    }

    .categories-list {
        padding: 0;
    }

    .filter-btns {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }


}

.FilterCategory {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;

    .category-name {
        font-weight: 300;
    }

    .options-container {
        label {
            font-weight: 300;
        }
    }

}

@media screen and (max-width: 700px) {
    .FilterPanel{
        display: none;
    }
}