.SignUp {
    margin-top: 60px;
    margin-bottom: 35px;
    min-height: 610px;
}

.SignUpTitle {
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
}