.ProfileCard {
    // font-family: 'Kaushan Script', cursive;
    display:flex;
    width:95%;
    height:200px;
    background:white;
    border-radius:10px;
    box-shadow: 0px 1px 10px 1px black;
}
.upper-container{
    height: 100%;
    width: 100px;
    background: linear-gradient(to left, #2d00f7, #ff0291)
}
.image-container img{
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding:5px;
    transform: translate(40%,40%);
}
img{
    border: 2px solid #8e00b9;
}
.lower-container{
    margin-left: 10%;
    width:80%;
    height:200px;
    background: white;
    text-align:left;
    font-family: 'Titillium Web',sans-serif;
}
.lower-container h3, h4, p{
    margin:0;
    padding: 0;
}
.lower-container h3 {
    color:black;
    font-weight: 600;
    font-size: 1.5rem;
}
.lower-container h4 {
    color:purple;
    font-weight: 600;
    font-size: 20px;
}
.profilecard-buttons{
    display:flex;
    width:23%;
    flex-direction: column;
    justify-content: center;
}
// .profileButton{
//     width:90%;
// }
// .favouriteButton{
//     width:90%;
// }
.star-rating{
    color:purple;
    font-weight: 600;
    font-size: 20px;
}

.starOn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #000;
}
.starOff {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ccc;
}
.profileButton{
    width:90%;
    height:20%;
    color:black;
    font:bold;
    background-color:white;
    border: 2px solid #8e00b9;
    padding:0.4rem;
    border-radius:6px;
    transition-duration:0.5s;
    animation:ease-in-out;
}
.profileButton:hover{
    background: linear-gradient(to left, #2d00f7, #ff0291);
    transform: scale(1.2);
    border: none;
    color:white;
}
.favouriteButton{
    width:90%;
    height:20%;
    color:black;
    font:bold;
    background-color:white;
    border: 2px solid #8e00b9;
    padding:0.4rem;
    border-radius:6px;
    transition-duration:0.5s;
    animation:ease-in-out;
}
.favouriteButton:hover{
    background: linear-gradient(to left, #2d00f7, #ff0291);
    transform: scale(1.2);
    border: none;
    color:white;
}