.ProfileCard {
    // font-family: 'Kaushan Script', cursive;
    display: flex;
    width: 95%;
    height: 200px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black;
}

.upper-container {
    height: 100%;
    width: 100px;
    background: linear-gradient(to right, rgb(205, 61, 8), rgb(255, 181, 43))
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-container-img {
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(40%, 40%);
    border: 2px solid rgb(205, 61, 8);
}

.lower-container {
    padding-top: 30px;
    margin-left: 10%;
    width: 80%;
    height: 200px;
    background: white;
    text-align: left;
    font-family: 'Titillium Web', sans-serif;
}

.lower-container h2,
h4,
p {
    margin: 0;
    padding: 0;
}

.lower-container h2 {
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
}

.lower-container h4 {
    color: rgb(205, 61, 8);
    font-weight: 600;
    font-size: 20px;
}

.profilecard-buttons {
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: center;
}

.star-rating {
    color: rgb(205, 61, 8);
    font-weight: 600;
    font-size: 20px;
}

.starOn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: orange;
}

.starOff {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ccc;
}

.profileButton {
    width: 90%;
    height: 20%;
    color: black;
    font: bold;
    background-color: white;
    border: 2px solid rgb(205, 61, 8);
    padding: 0.4rem;
    border-radius: 6px;
    transition-duration: 0.5s;
    animation: ease-in-out;
}

.profileButton:hover {
    background: linear-gradient(to right, rgb(205, 61, 8), rgb(255, 181, 43));
    transform: scale(1.2);
    border: none;
    color: white;
}

.favouriteButton {
    width: 90%;
    height: 20%;
    color: black;
    font: bold;
    background-color: white;
    border: 2px solid rgb(205, 61, 8);
    padding: 0.4rem;
    border-radius: 6px;
    transition-duration: 0.5s;
    animation: ease-in-out;
}

.favouriteButton:hover {
    background: linear-gradient(to right, rgb(205, 61, 8), rgb(255, 181, 43));
    transform: scale(1.2);
    border: none;
    color: white;
}
@media screen and (max-width: 1130px) {
    .lower-container h2,
    h4,
    p {
        margin: 0;
        padding: 0;
    }

    .lower-container h2 {
        font-weight: 600;
        font-size: 20px;
    }

    .lower-container h4 {
        font-weight: 600;
        font-size: 16px;
    }

    .star-rating {
        font-weight: 600;
        font-size: 16px;
    }
}
@media screen and (max-width: 890px) {
    .ProfileCard {
        // font-family: 'Kaushan Script', cursive;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        height: 480px;
        background: white;
        border-radius: 10px;
        box-shadow: 0px 1px 10px 1px black;
    }

    .upper-container {
        width: 100%;
        height: 100px;
    }

    .image-container {
        display: flex;
        justify-content: center;
    }

    .image-container-img {
        background: white;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        padding: 5px;
        transform: translate(0%, 50%);
    }


    .lower-container {
        margin-left: 0%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 30px;
        width: 100%;
        height: 300px;
        background: white;
        text-align: center;
        font-family: 'Titillium Web', sans-serif;
    }

    .lower-container h2,
    h4,
    p {
        margin: 0;
        padding: 0;
    }

    .lower-container h2 {
        color: black;
        font-weight: 600;
        font-size: 20px;
    }

    .lower-container h4 {
        font-weight: 600;
        font-size: 18px;
    }

    .star-rating {
        font-weight: 600;
        font-size: 18px;
    }

    .profilecard-buttons {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 20px;
    }

    .profileButton {
        align-items: center;
        margin-left: 25%;
        width: 50%;
        height: 40%;
        color: black;
        font: bold;
        background-color: white;
        padding: 0.4rem;
        border-radius: 6px;
        transition-duration: 0.5s;
        animation: ease-in-out;
    }

    .profileButton:hover {
        align-items: center;
        transform: scale(1.2);
        border: none;
        color: white;
    }

    .favouriteButton {
        width: 50%;
        height: 40%;
        margin-left: 25%;
        color: black;
        font: bold;
        background-color: white;
        padding: 0.4rem;
        border-radius: 6px;
        transition-duration: 0.5s;
        animation: ease-in-out;
    }

    .favouriteButton:hover {
        transform: scale(1.2);
        border: none;
        color: white;
    }
}